:root {
    --dark-color: #2C2A25;
    --blue-color: #1B72C6;
    --blue-hover-color: #093d6e;
    --light-color: #e0e0e0;
    --gold: #ffbb1c;

    --extra-large-font: 65px;
    --large-font: 40px;
    --medium-font: 25px;
    --small-font: 17px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@500&family=Inter:wght@400&display=swap');

@media (max-width: 800px) {
    :root {
        --extra-large-font: 50px;
        --large-font: 26px;
        --medium-font: 21px;
        --small-font: 15px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--light-color)/*black*/;
}

/* Section présentation */
.who-i-am {
    margin: 0;
    padding: 0;
    position: relative; /* Nécessaire pour bien gérer le contenu et le pseudo-élément */
    width: 100%; /* Prend toute la largeur */
    height: 100vh; /* Hauteur personnalisée de la section */
    min-height: 500px;
    color: white; /* Couleur du texte pour bien contraster */
    overflow: hidden; /* Coupe tout dépassement éventuel */

    display: flex;
    justify-content: center;
    align-items: end;
}

.who-i-am::before {
    content: ''; /* Nécessaire pour ajouter un pseudo-élément */
    position: absolute;
    top: 0;
    right: 0; /* à mettre à 0*/
    width: 100%;
    height: 100%;
    background: url("../media/accueil_large.jpg") no-repeat right center;
    background-size: cover; /* Redimensionne l'image proportionnellement */
    filter: brightness(20%); /* Réduit la luminosité à 50% */
    z-index: -1; /* Place l'image floutée derrière le texte */
}

.presentation-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
}

@media (max-width: 1000px) {
    /*
    .who-i-am {
        height: 80vh;
    }
    */

    .who-i-am::before {
        background: url("../media/accueil_tel_4.jpg") no-repeat center center/cover;
    }

    .presentation-section {
        width: 100%;
        height: 100%;
        gap: 30px;
        color: white;
    }

    .presentation-section p {
        line-height: 35px;
    }
}

.presentation-section h1 {
    font-size: var(--large-font); /* Texte principal en gros */
    flex: none;
    text-align: center;
    margin: 0;
    font-weight: 1000;
    padding-top: 10vh;
}

.presentation-section h2 {
    font-size: var(--large-font);
    text-align: center;
    font-weight: bold;
}

.scroll-down-btn {
    margin-top: 15vh;
    border: 1px solid var(--light-color);
    height: 60px;
    width: 80%;
    border-radius: 2px;
    padding: 5px;
    background-color: transparent;
    font-size: var(--medium-font);
    color: var(--light-color);
    cursor: pointer;
    font-family: "Abril Fatface";
}

.scroll-down-btn:hover {
    background-color: #e0e0e005;
}

.arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 50px; /* Taille de la flèche */
    color: var(--blue-color); /* Couleur de la flèche */
    display: inline-block; /* Nécessaire pour appliquer 'transform' */
    animation: bounce 2s infinite ease-in-out; /* Animation fluide infinie */
    cursor: pointer; /* Montre que la flèche est interactive */
    background: transparent;
    border: 0;

    display: none; /* A supprimer pour remettre la flêche */
}

@keyframes bounce {
    0% {
        transform: translateY(0) translateX(-50%); /* Position initiale */
        opacity: 0;
    }
    10% {
        transform: translateY(5px) translateX(-50%);
        opacity: 1;
    }
    100% {
        transform: translateY(20px) translateX(-50%); /* Position initiale */
        opacity: 0;
    }
}

/* Effet de survol */
.arrow:hover {
    color: var(--blue-hover-color); /* Change la couleur au survol */
    transform: (1.3);
}

/* Barre de navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    position: sticky;
    height: 100px;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 700;
    color: var(--light-color);
    margin-right: 2vw;
}

.menu li {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Transition fluide sur la couleur */
}

.current-page {
    border-bottom: 3px solid var(--light-color);
    border-top: 3px solid var(--dark-color);
}

nav ul li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0px 12px;
    color: inherit;
    text-decoration: none;  
    font-size: var(--small-font);
}

nav ul li:hover {
    color: white;
    border-bottom: 3px solid var(--light-color);
    border-top: 3px solid var(--dark-color);
}

.menu-toggle {
    display: none;
    position: absolute;
    right: 20px;
    font-size: 35px;
    color: var(--light-color);
    cursor: pointer;
}

/* Barre animée */
.progress-indicator {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0%;
    background: var(--light-color);
    border-radius: 10px;
}

@media (max-width: 1000px) {
    nav {
        height: 50px;
    }

    .menu {
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 50px;
        width: 100%;
        background-color:  rgba(44, 42, 37, 0.8);
        gap: 0;
        opacity: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .menu.show {
        display: flex;
        opacity: 1;
    }

    .menu li {
        border: 0;
        height: 50px;
        justify-content: left;
    }

    .menu li:hover {
        border: 0;
    }

    .menu li a {
        pointer-events: none; /* Lien non cliquable */
        opacity: 0;
        transform: translateX(100px); /* Départ de la droite */
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    .menu.show li a {
        pointer-events: auto; /* Lien redevient cliquable */
        opacity: 1;
        transform: translateX(0);
    }

    .menu li a:hover {
        border: 0;
        transform: translateX(20px); /* Déplacement de 50px vers la droite */
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* Ajout d'un délai progressif pour chaque lien */
    .menu.show li:nth-child(1) a { transition: opacity 0.3s ease-out, transform 0.3s ease-out; }
    .menu.show li:nth-child(2) a { transition: opacity 0.4s ease-out, transform 0.4s ease-out; }
    .menu.show li:nth-child(3) a { transition: opacity 0.5s ease-out, transform 0.5s ease-out; }
    .menu.show li:nth-child(4) a { transition: opacity 0.6s ease-out, transform 0.6s ease-out; }
    .menu.show li:nth-child(5) a { transition: opacity 0.7s ease-out, transform 0.7s ease-out; }
    .menu.show li:nth-child(6) a { transition: opacity 0.8s ease-out, transform 0.8s ease-out; }

    .progress-indicator {
        display: inline;
    }
}

@media (max-height: 800px) {
    nav {
        height: 70px;
    }

    nav ul li {
        height: 70px;
    }
}

#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: var(--blue-hover-color);
    border: none;
    font-size: 40px;
    cursor: pointer;
    display: none; /* Initialement masqué */
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

#scrollToTopButton:hover {
    transform: scale(1.20);
}

/* Définition de l'aspect global du main */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--dark-color)
}

main i {
    color: var(--blue-hover-color);
}

main section {
    padding: 100px 5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section p {
    text-align: justify;
    font-size: var(--small-font);
}

main section h1 {
    text-align: center;
    font-size: var(--large-font);
    font-weight: 1000;
    margin: 20px  0 40px 0;
    flex: 1 1 100%;
}

/* Section ma proposition */
.my-proposal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.my-proposal h1 {
    font-size: var(--large-font);
    color: var(--dark-color);
    padding: 2vw 0 0 0;
}

.p-important {
    font-size: var(--large-font);
    color: var(--blue-hover-color);
    text-align: center;
}

.download-cv-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--light-color);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    width: 180px;
    height: 80px;
    position: relative;
    transition: 0.3s;
    background-color: brown;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.download-cv-button::before {
    content: "PDF";
    display: block;
    font-size: 13px;
    background-color: rgb(165, 21, 21);
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-5px, -30%);
    transition: 0.3s;
    box-shadow: 10px 10px 20px #000000b9; 
}

.download-cv-button:hover::before {
    transform: translate(-5px, -50%);
}

/* Section à propos de moi */
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--light-color);
    background-color: var(--dark-color);
}

.about-me .mind-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 100%;
}

.about-me .mind-map-left, .mind-map-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10vh;
    width: 25vw;
    width: 100%;
}

.about-me .info-item {
    font-size: var(--small-font);
    gap: 30px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me .logo-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.about-me .info-item i {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 85px;
    color: var(--light-color);
}

@media (max-width: 1200px) {
    .about-me .mind-map {
        flex-direction: column;
    }

    .about-me .mind-map-left, .mind-map-right {
        gap: 15px;
        width: 80vw;
    }

    .about-me .info-item i {
        font-size: 65px;
    }
}

.about-me .text-wrapper {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:#201f1c;
    box-shadow: 10px 10px 20px #000000a4; 
    width: 100%;    
}

.about-me .info-item h2 { 
    border-radius: 5px;
    font-weight: 600;
    flex: 1 1 100%;
    text-align: center;
    font-size: var(--medium-font);
    margin: 5px;
    padding: 5px;
    color: rgb(5, 24, 49);
    background-color: rgba(8, 95, 209, 0.705)
}

.about-me .info-item p {
    padding: 2px;
    margin: 2px;
    box-shadow: rgba(223, 223, 223, 0.02) 0px 1px 3px 0px, rgba(179, 179, 179, 0.15) 0px 0px 0px 1px; 
    color: var(--light-color);
    border-radius: 10px;
    font-weight: 100; 
}

.about-me p i {
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vassili-img {
    width: 300px;
}

@media (max-width: 600px) {
    .buttons-section button {
        width: 300px;
        height: 160px;
    }
}


/* Section me contacter */


.contact-me ul {
    list-style: none;
}

.contact-me ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 5px;
    font-size: var(--medium-font);
    font-weight: 700;
}

/* Section formations */
.education {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-color);
    z-index: -2;
}

.education h1 {
    color: var(--light-color);
}

.education ul {
    position: relative;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.education ul::before {
    content: '';
    position: absolute;
    top: 0; /* Positionne la ligne au milieu verticalement */
    left: 50%;
    height: 100%; /* S'étend sur toute la largeur */
    width: 5px;
    background: repeating-linear-gradient(
        to bottom,
        var(--light-color) 0,
        var(--light-color) 5px,
        transparent 5px,
        transparent 10px
    ); /* Crée des pointillés */
    z-index: -1;
}

.education ul li {
    padding: 10px;
    width: auto;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); 
    background-color: var(--light-color);
}

.education ul li:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7); 
}

.education .date {
    font-size: var(--large-font);
}

.education .place {
    font-family: OCR A Std, monospace;
    font-size: var(--small-font);
}

.education .mention {
    font-family: impact, fantasy;
    color: var(--blue-hover-color);
    font-weight: 500;
    text-align: center;
}

.education h2 {
    font-size: var(--medium-font);
    font-weight: 600;
}

/* Section compétences */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills h1 {
    margin-bottom: 0;
}

.skills-subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skills-subsection i {
    font-size: 130px;
    color: var(--dark-color);
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 30px;  
    list-style: none;
    margin: 50px 0;
}

.skill-item {
    display: flex;
    width: auto;
    align-items: center;
    gap: 20px;
}

.skill-item h2 {
    width: 260px;
    text-align: right;
}

@media (max-width: 900px) {
    .skills-subsection {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .skills-subsection i {
        margin-bottom: 20px;
    }

    .skill-item {
        flex-direction: column;
    }

    .skill-item h2 {
        text-align: center;
    }

    .skills-content {
        margin: 0;
    }
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 3px;
    width: 300px;
    height: 20px;
    border: 3px solid var(--dark-color);
    border-radius: 3px;
    padding: 2px;
    list-style: none;
}

.progress-level {
    height: 11px;
    width: 50px;
    background: linear-gradient(to right, var(--blue-hover-color), var(--blue-color));

    /*background-color: var(--blue-color); /* Couleur de remplissage */
    border-radius: 3px;
}

.invisible {
    background: linear-gradient(to right, transparent, transparent);
}

/* Section éxperiences */
.experience {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-color);
    z-index: -2;
}

.experience h1 {
    color: var(--light-color);
}

.experience-list {
    position: relative;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.experience-list::before {
    content: '';
    position: absolute;
    top: 0; /* Positionne la ligne au milieu verticalement */
    left: 50%;
    height: 100%; /* S'étend sur toute la largeur */
    width: 5px;
    background: repeating-linear-gradient(
        to bottom,
        var(--light-color) 0,
        var(--light-color) 5px,
        transparent 5px,
        transparent 10px
    ); /* Crée des pointillés */
    z-index: -1;
}

.experience-list-item {
    padding: 10px;
    width: auto;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    min-height: 250px;
    max-width: 500px;
    background-color: var(--light-color);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.experience-list-item:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7); 
}

.experience .date {
    font-size: var(--large-font);
}

.experience .place {
    font-family: OCR A Std, monospace;
    font-size: var(--small-font);
}

.experience h2 {
    font-size: var(--medium-font);
    font-weight: 600;
}

.under-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 10px;
    padding: 20px 5px 10px 5px;
}

.under-list i {
    font-size: 10px;
    color: var(--dark-color);
}

.under-list li {
    width: 85%;
    background-color: rgba(9, 61, 110, 0.6);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: auto;
    transition: transform 0.2s;
}

.under-list li:hover {
    transform: scale(1.03);
}

/* Section loisirs */
.hobbies-wrapper {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hobbies-list {
    margin: 30px;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.hobbies-list h2 {
    text-align: left;
    flex: 0 1 100%;
    margin: 10px;
    
}

.hobbies-item  {
    position: relative;
    margin: 10px;
    border-radius: 5px;
    width: 18%;
    height: 200px;
    min-width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hobbies-item::before {
    content: ''; /* Nécessaire pour ajouter un pseudo-élément */
    position: absolute;
    top: 0;
    right: 0; /* à mettre à 0*/
    width: 100%;
    height: 100%;
    background-size: cover; /* Redimensionne l'image proportionnellement */
    filter: brightness(20%); /* Réduit la luminosité à 50% */
    z-index: 1; /* Place l'image floutée derrière le texte */
    transition: filter ease 0.5s;
}

.astronomy-hobbies::before {
    background: url('../media/astronomie_illustration.webp') no-repeat right center;
}

.maths-hobbies::before {
    background: url('../media/maths_illustration.jpg') no-repeat right center;
}

.tech-hobbies::before {
    background: url('../media/tech_illustration.jpg') no-repeat right center;
}

.auto-hobbies::before {
    background: url('../media/auto_illustration.jpg') no-repeat right center; 
}

.rowing-hobbies::before {
    background: url('../media/rowing_illustration.jpg') no-repeat right center;
}

.runnig-hobbies::before {
    background: url('../media/running_illustration.jpg') no-repeat right center;
}

.bodybuilding-hobbies::before {
    background: url('../media/bodybuilding_illustration.jpg') no-repeat right center;
}

.hobbies-item:hover::before {
    filter: brightness(80%);
}

.hobbies-item h3 {
    font-family: "Abril Fatface";
    font-size: var(--medium-font);
    color: var(--light-color);
    z-index: 2;
    transition: opacity ease 0.5s;
}

.hobbies-item:hover h3 {
    opacity: 0;
}



/* Variables */
:root {
    --slider-width: 90vw;
    --slide-width: 300px;
    --slide-height: 300px;
    --gap: 20px;
}

.projects-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 65vh;
    width: 100%;
}

/* Navigation buttons */
.links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35vw;
}

.links-wrapper a {
    display: inline-block;
    padding: 30px 15px;
    color: #666;
    text-decoration: none;
    font-size: var(--small-font);
    font-weight: bolder;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 5px solid #666;
}

.links-wrapper a:hover {
    color:var(--dark-color);
    border-right: 5px solid var(--dark-color);
}



.links-wrapper .selected {
    color:var(--dark-color); 
    border-right: 5px solid var(--dark-color);
}

.links-wrapper .selected i {
    color:var(--dark-color); 
}

.links-wrapper a i {
    color: #666;
    font-size: var(--large-font);
    width: 60px;
    text-align: center;
}

.links-wrapper a:hover i {
    color:var(--dark-color); 
}




/* Slider container */
.slider {
    width: var(--slider-width);
    text-align: center;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: var(--gap);
    -webkit-overflow-scrolling: touch; 
    touch-action: pan-x; 
    scrollbar-width: none; 
}
/* Masquer scrollbar sur Webkit (Chrome, Safari) */
.slides::-webkit-scrollbar {
    display: none;
}

/* Slide items */

.slide {
    scroll-snap-align: center;
    flex: 0 0 var(--slide-width);
    width: var(--slide-width);
    height: var(--slide-height);
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
}



/* Responsive */
@media (max-width: 768px) {
    :root {
        --slider-width: 95vw;
        --slide-width: 80vw;
    }

    .projects-wrapper {
        flex-direction: column;
    }

    .links-wrapper {
        width: 85vw;
    }
}

  
.slider {
    width: var(--slide-width); /* Force la largeur du carrousel */
    overflow: hidden; /* Cache les autres slides */
    position: relative;
}




.custom-pattern {
	background:
		  radial-gradient(50% 50% at 100% 0,#E0E0E0 0%  5% ,#D7D7D7 6%  15%,#E0E0E0 16% 25%,#D7D7D7 26% 35%,#E0E0E0 36% 45%,
		   #D7D7D7 46% 55%,#E0E0E0 56% 65%,#D7D7D7 66% 75%,#E0E0E0 76% 85%,#D7D7D7 86% 95%,
		   #0000 96%),
		  radial-gradient(50% 50% at 0 100%,#E0E0E0 0%  5% ,#D7D7D7 6%  15%,#E0E0E0 16% 25%,#D7D7D7 26% 35%,#E0E0E0 36% 45%,
		   #D7D7D7 46% 55%,#E0E0E0 56% 65%,#D7D7D7 66% 75%,#E0E0E0 76% 85%,#D7D7D7 86% 95%,
		   #0000 96%),
		  radial-gradient(50% 50%,#E0E0E0 0%  5% ,#D7D7D7 6%  15%,#E0E0E0 16% 25%,#D7D7D7 26% 35%,#E0E0E0 36% 45%,
		   #D7D7D7 46% 55%,#E0E0E0 56% 65%,#D7D7D7 66% 75%,#E0E0E0 76% 85%,#D7D7D7 86% 95%,
		   #0000 96%),
		  radial-gradient(50% 50%,#E0E0E0 0%  5% ,#D7D7D7 6%  15%,#E0E0E0 16% 25%,#D7D7D7 26% 35%,#E0E0E0 36% 45%,
		   #D7D7D7 46% 55%,#E0E0E0 56% 65%,#D7D7D7 66% 75%,#E0E0E0 76% 85%,#D7D7D7 86% 95%,
		   #0000 96%) 70px 70px;
	background-size: 140px 140px;
	background-color: #E0E0E0;
}




















/* Footer */
footer {
    padding: 70px 5vw;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: var(--light-color);
}

footer .contact-me {
    background-color: var(--dark-color);
    background-image: none;
    flex: 1 1 100%;
    margin-bottom: 30px;
}

footer .contact-me h1 {
    text-align: center;
    font-size: var(--medium-font);
    font-weight: 1000;
    margin: 20px  0 40px 0;
}

footer .contact-me i {
    color: var(--blue-hover-color);
}

footer .contact-me ul li p {
    font-size: var(--small-font);
}